.footer {
  background-color: var(--nav-color) !important;
  color: var(--nav-text-color) !important;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.footer h2 {
  font-size: 2rem;
}

.socials-container {
  gap: 0.8rem;
}

.socials-container a {
  text-decoration: none;
}

.socials-container i {
  font-size: 1.5rem;
}
