* {
  box-sizing: border-box;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
div {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
:root {
  font-family: "Lato", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Here */

  /* Main */
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #0000007e;
}

[data-theme="dark"] {
  --background-color: #111110;
  --text-color: rgba(255, 255, 255, 0.87);
  --border-color: #ffffff7e;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: url("../sidebg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
a {
  text-decoration: underline;
  color: var(--text-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.centerd {
  justify-content: center;
  align-items: center;
}

.switch-theme-container {
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}
.switch-theme-button {
  position: fixed;
  bottom: 5rem;
  right: 3rem;

  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.light-mode {
  background-color: #000000;
}
.dark-mode {
  background-color: #e4e3e3;
}

.switch-theme-container {
  cursor: pointer;
  text-align: center;
}
.switch-theme-button img {
  height: 2rem;
  width: 2rem;
}

.title {
  font-weight: 600;
}

.starting-title {
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--border-color);
  padding-top: 2rem;
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .switch-theme-button {
    bottom: 4rem;
    right: 1rem;
  }
}
